@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h2>Edit</h2>

<h4>Edit this Student: @Html.DisplayFor(model => model.FirstName)  @Html.DisplayFor(model => model.LastName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  @Html.LabelFor(model => model.FirstName)
  @Html.TextBoxFor(model => model.FirstName  , new {required = "required"})

  @Html.LabelFor(model => model.LastName)
  @Html.TextBoxFor(model => model.LastName)<br>

  @Html.LabelFor(model => model.DateEnrollment)
  @Html.EditorFor(model => model.DateEnrollment)

  @Html.Label("Select course")
  @Html.DropDownList("CourseId")<br>

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>